<div class="container">
    <div class="form-group">
        <label>ProductName:</label>
        <input type="text" [(ngModel)]="addData.productname" id="productname" name="productname" class="form-control" placeholder="productName">

    </div>
    <div class="form-group">
        <label for="comment">Description:</label>
        <textarea class="form-control" [(ngModel)]="addData.description" rows="5" id="Description"></textarea>

    </div>
    <div class="form-group">
        <label>Image:</label>
        <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="fileChange($event.target.files)" class="form-control" placeholder="Image">
        <img src="{{addData.image}}" class="set-w-h">..
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input type="number" [(ngModel)]="addData.price" class="form-control" placeholder="Price">

    </div>
    <div class="form-group">
        <label>Discount:</label>
        <input type="checkbox" [(ngModel)]="addData.discount" class="mx-3" placeholder="Discount">

    </div>
    <div class="form-group">
        <label>Available:</label>
        <div class="radio">
            <label><input type="radio" [(ngModel)]="available" value="yes" name="radio" checked>Yes</label>
        </div>
        <div class="radio">
            <label><input type="radio" [(ngModel)]="available" value="no" name="radio">No</label>
        </div>

    </div>
    <input type="submit" (click)="Upadte()" value="Submit">


</div>