<div class="container p-5 bg-secondary my-5">

    <div class="form-group">
        <label>ProductName:</label>
        <input type="text" [(ngModel)]="addData.productname" id="productname" name="productname" class="form-control" placeholder="productName">
        <div class="required" [innerHtml]="productname"></div>
    </div>
    <div class="form-group">
        <label for="comment">Description:</label>
        <textarea class="form-control" [(ngModel)]="addData.description" rows="5" id="Description"></textarea>
        <div class="required" [innerHtml]="description"></div>
    </div>
    <div class="form-group">
        <label>Image:</label>
        <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="fileChange($event.target.files)" class="form-control" placeholder="Image">
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input type="number" [(ngModel)]="addData.price" class="form-control" placeholder="Price">
        <div class="required" [innerHtml]="price"></div>
    </div>
    <div class="form-group">
        <label>Discount:</label>
        <input type="checkbox" [(ngModel)]="addData.discount" class="mx-3" placeholder="Discount">
        <div class="required" [innerHtml]="discount"></div>
    </div>
    <div class="form-group">
        <label>Available:</label>
        <div class="radio">
            <label><input type="radio" [(ngModel)]="available" value="yes" name="radio" checked>Yes</label>
        </div>
        <div class="radio">
            <label><input type="radio" [(ngModel)]="available" value="no" name="radio">No</label>
        </div>

    </div>
    <input type="submit" class="mx-3" (click)="onSubmit()" value="Submit">
    <input type="submit" class="mx-3" (click)="clean()" value="clean">


</div>
<app-edit [id]="parentid"></app-edit>
<div class="mt-5 ">
    <h1 class="text-center">
        <a [routerLink]="['/list']">List Page</a>
    </h1>

</div>