.input-bottom-line {
    border: none;
    border-bottom: 1px solid #ffb1c0;
    background: transparent;
}

.icon-h {
    line-height: 1.5em;
}

.set-card-at-bottom {
    position: absolute;
    bottom: 0;
    width: 90%;
}

.blue-color {
    color: #374e78;
}

.text-weight {
    font-weight: 600;
}

.text-size {
    font-size: 11px;
}

.forgot-pass {
    float: right;
}

.line-bold {
    color: black;
    height: 7px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    border: black;
}

.padding-l-r {
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="password"] {
    width: 100%;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

.pink-color {
    color: #ffb1c0;
}

.pink-color-dark {
    color: #ff6180;
}

.font-w {
    font-weight: 800;
    /* font-style: italic; */
}

input[type="text"]:focus {
    border-color: #ffb1c0;
    box-shadow: 0 1px 0 0 #ffb1c0;
}

input[type="password"]:focus {
    border-color: #ffb1c0;
    box-shadow: 0 1px 0 0 #ffb1c0;
}

.inputWithIcon input[type="text"] {
    padding-left: 40px;
}

.inputWithIcon input[type="password"] {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 0px;
    padding: 9px 8px;
    transition: 0.3s;
}

.mb-70 {
    margin-bottom: 70% !important;
}

.mb-45 {
    margin-bottom: 45% !important;
}

.text-font-size {
    font-weight: 100;
}

.set-card-at-bottom {
    position: absolute;
    bottom: 0;
}

.bg-black {
    margin-bottom: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 95%;
    padding: 15%;
}

.singin {
    background-color: #fa6683 !important;
    box-shadow: 0px 0px 5px 0px #fa6683!important;
    border-radius: 20px!important;
    color: white!important;
}

.singup {
    background-color: #273967!important;
    box-shadow: 0px 0px 5px 0px #273967!important;
    border-radius: 20px!important;
    color: white!important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-left {
    padding-left: 18%;
}


/* image slider */

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
}

.card-set-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.marg-t {
    margin-top: -10px;
    ;
}

.w-12 {
    width: 12%;
}

.w-h-70 {
    height: 70px;
    width: 70px;
    border-radius: 10%;
}

.set-w-h {
    width: 100% !important;
    height: 500px !important;
}

.set-w-h-second {
    width: 100% !important;
    height: 160px !important;
}

.set-w-h-img {
    width: 100% !important;
    height: 250px !important;
}

.pl-30 {
    padding-left: 30%;
}


/* image slider */

.shadow-box {
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.bg-pink-color {
    background-color: #ff6180 !important;
}

.m-t-l {
    margin-top: -14px;
    margin-left: 30px;
}

.card-set-w-h-img {
    width: 100%;
    height: 100%;
}

.card-set-w-h {
    width: 100%;
    height: 100%;
}

.border-radius {
    border-radius: 5% !important;
}

.opacity-img {
    opacity: 0.5;
}

.bg-blue-color-dark {
    background: #243a69;
}