<div>

    <table>
        <tr>
            <th>id</th>
            <th>productname</th>
            <th>description</th>
            <th>image</th>
            <th>price</th>
            <th>discount</th>
            <th>available</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let items of Datalist">
            <td>{{items.id}}</td>
            <td>{{items.productname}}</td>
            <td>{{items.description}}</td>
            <td><img src="{{items.image}}" class="set-w-h"></td>
            <td>{{items.price}}</td>
            <td *ngIf="items.discount">Yes Discount</td>
            <td *ngIf="!items.discount">No Discount</td>
            <td>{{items.available}}</td>
            <td>
                <a class="btn" [routerLink]="['/edit',items.id]">Edit</a>
                <button class="btn"><a (click)="onPrint()">Print</a></button>
            </td>

        </tr>

    </table>
</div>